@model IEnumerable<Review>
<h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Reviews</h2>

@Model.First().ProductId.ToString()
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-left">Date</th>
      <th scope="col" class="text-center">Rating</th>
      <th scope="col" class="text-right">Comment</th>
      
    </tr>
</thead>
<tbody>
<div class="list-group">
    @foreach (Review r in Model)
    {
      <tr>
        <td class="text-left">@r.DateTime</td>
        <td class="text-center">@r.Rating</td>
        <td class="text-right">@r.Comment</td>
      </tr>
    }
</div>
</tbody>
</table> 

@* <div class="list-group">
    @foreach (Review r in Model)
    {
        <a class="list-group-item list-group-item-action">@r.DateTime - @r.Rating - @r.Comment</a>
    }
</div> *@



@section Scripts
{
<script>
$(function () {
    getProduct()
    
    function getProduct() {
      var id = $('#Discontinued').prop('checked') ? "" : "/discontinued/false";
      $.getJSON({
        url: `../../api/category/${$('#product_rows').data('id')}/productwithreviews` + discontinued,
        success: function (response, textStatus, jqXhr) {
          $('#product_rows').html("");
            for (var i = 0; i < response.length; i++){
              var css = response[i].discontinued ? " class='discontinued'" : "";
              var rating = Math.round(response[i].avgRating);
              var row = `<tr${css} data-id="${response[i].productId}" data-name="${response[i].productName}" data-price="${response[i].unitPrice}">
                <td>${response[i].productName}</td>
                <td class="text-right">${response[i].unitPrice.toFixed(2)}</td>
                <td class="text-right">${response[i].unitsInStock}</td>
                <td class="text-right rating" data-rating="${response[i].productId}">${getStars(rating)}</td>
                </tr>`;
              $('#product_rows').append(row);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          // log the error to the console
          console.log("The following error occured: " + textStatus, errorThrown);
        }
      });
    }
}
</script>
}
