@model IEnumerable<Product>
<h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Purchases</h2>
<h4>All Purchesed Products</h4>

<div class="list-group">
    @foreach (Product p in Model)
    {
        @* <a asp-action="PurchaseDetail" asp-route-id="@o.OrderId" class="list-group-item list-group-item-action">@o.OrderId - ORDER DATE: @o.OrderDate - SHIPPED DATE: @o.ShippedDate</a> *@
        <a class="list-group-item list-group-item-action">@p.ProductName</a>
    }
</div>